/*! Reset/normalize hybrid with major contributions from normalize.css, html5doctor.com Reset Stylesheet, and http://html5reset.org/

* Sam Richard - http://snugug.com/
* Nicholas Gallagher, Jonathan Neal - http://necolas.github.io/normalize.css/
* Richard Clark - http://richclarkdesign.com
* Tim Murtaugh - http://monkeydo.biz/
*/
/* line 12, ../bower_components/sass-toolkit/stylesheets/toolkit/_reset.scss */
abbr,
address,
article,
aside,
audio,
b,
blockquote,
body,
canvas,
caption,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
main,
menu,
nav,
object,
ol,
p,
pre,
q,
samp,
section,
small,
span,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
ul,
var,
video {
  background: transparent;
  border: 0;
  font-size: 100%;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}

/* line 95, ../bower_components/sass-toolkit/stylesheets/toolkit/_reset.scss */
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/* line 104, ../bower_components/sass-toolkit/stylesheets/toolkit/_reset.scss */
body {
  line-height: 1;
}

/* line 119, ../bower_components/sass-toolkit/stylesheets/toolkit/_reset.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/* line 140, ../bower_components/sass-toolkit/stylesheets/toolkit/_reset.scss */
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

/* line 153, ../bower_components/sass-toolkit/stylesheets/toolkit/_reset.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 163, ../bower_components/sass-toolkit/stylesheets/toolkit/_reset.scss */
[hidden],
template {
  display: none;
}

/* line 176, ../bower_components/sass-toolkit/stylesheets/toolkit/_reset.scss */
a {
  background-color: transparent;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

/* line 188, ../bower_components/sass-toolkit/stylesheets/toolkit/_reset.scss */
a:active,
a:hover {
  outline: 0;
}

/* line 201, ../bower_components/sass-toolkit/stylesheets/toolkit/_reset.scss */
abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

/* line 211, ../bower_components/sass-toolkit/stylesheets/toolkit/_reset.scss */
ins {
  text-decoration: none;
}

/* line 218, ../bower_components/sass-toolkit/stylesheets/toolkit/_reset.scss */
del {
  text-decoration: line-through;
}

/* line 226, ../bower_components/sass-toolkit/stylesheets/toolkit/_reset.scss */
blockquote,
q {
  quotes: none;
}

/* line 231, ../bower_components/sass-toolkit/stylesheets/toolkit/_reset.scss */
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

/* line 242, ../bower_components/sass-toolkit/stylesheets/toolkit/_reset.scss */
ul {
  list-style: none;
}

/* line 253, ../bower_components/sass-toolkit/stylesheets/toolkit/_reset.scss */
img {
  border: 0;
}

/* line 261, ../bower_components/sass-toolkit/stylesheets/toolkit/_reset.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 274, ../bower_components/sass-toolkit/stylesheets/toolkit/_reset.scss */
pre {
  overflow: auto;
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word;
}

/* line 287, ../bower_components/sass-toolkit/stylesheets/toolkit/_reset.scss */
code,
kbd,
pre,
samp {
  font-size: 1em;
  font-family: monospace, sans-serif;
}

/* line 299, ../bower_components/sass-toolkit/stylesheets/toolkit/_reset.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid;
  margin: 1em 0;
  padding: 0;
}

/* line 323, ../bower_components/sass-toolkit/stylesheets/toolkit/_reset.scss */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

/* line 337, ../bower_components/sass-toolkit/stylesheets/toolkit/_reset.scss */
button,
input[type="button"] {
  overflow: visible;
}

/* line 349, ../bower_components/sass-toolkit/stylesheets/toolkit/_reset.scss */
button,
select {
  text-transform: none;
}

/* line 360, ../bower_components/sass-toolkit/stylesheets/toolkit/_reset.scss */
button,
html input[type="button"],
input[type="file"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

/* line 373, ../bower_components/sass-toolkit/stylesheets/toolkit/_reset.scss */
button[disabled],
html input[disabled] {
  cursor: default;
}

/* line 382, ../bower_components/sass-toolkit/stylesheets/toolkit/_reset.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 392, ../bower_components/sass-toolkit/stylesheets/toolkit/_reset.scss */
input {
  line-height: normal;
}

/* line 403, ../bower_components/sass-toolkit/stylesheets/toolkit/_reset.scss */
input[type="checkbox"],
input[type="radio"] {
  padding: 0;
}

/* line 412, ../bower_components/sass-toolkit/stylesheets/toolkit/_reset.scss */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/* line 422, ../bower_components/sass-toolkit/stylesheets/toolkit/_reset.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 432, ../bower_components/sass-toolkit/stylesheets/toolkit/_reset.scss */
legend {
  border: 0;
  padding: 0;
}

/* line 441, ../bower_components/sass-toolkit/stylesheets/toolkit/_reset.scss */
textarea {
  overflow: auto;
}

/* line 449, ../bower_components/sass-toolkit/stylesheets/toolkit/_reset.scss */
input,
select {
  vertical-align: middle;
}

/* line 462, ../bower_components/sass-toolkit/stylesheets/toolkit/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 471, ../bower_components/sass-toolkit/stylesheets/toolkit/_reset.scss */
td,
th {
  padding: 0;
}

/* line 1, ../bower_components/sass-toolkit/stylesheets/toolkit/_kickstart.scss */
html {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 11, ../bower_components/sass-toolkit/stylesheets/toolkit/_kickstart.scss */
*, *:before, *:after {
  box-sizing: inherit;
}

/* line 15, ../bower_components/sass-toolkit/stylesheets/toolkit/_kickstart.scss */
embed,
img,
object,
video {
  max-width: 100%;
  height: auto;
}
